<header class="section has-background-link py-4 has-text-white">
  <div class="container">
    <div class="columns">
      <div class="column">
        <span class="icon">
          <i class="far fa-envelope"></i>
        </span>
        <a href="mailto:float45@gmail.com" class="has-text-white">float45@gmail.com</a>
      </div>
      <div class="column">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        <a href="https://github.com/wirtaw" class="has-text-white">wirtaw</a>
      </div>
      <div class="column has-text-right-tablet"></div>
    </div>
  </div>
</header>