<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="./assets/favicon-16x16.png" sizes="16x16" />
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
</head>

<body>
  <%- include('partials/header'); -%>
  <section class="section">
    <%- include('partials/source'); -%>
  </section>
  <%- include('partials/footer'); -%>
  <script>
    const DateTime = luxon.DateTime;
    const dt = DateTime.local();

    const clientTime = document.getElementById('clientTimes');
    if (clientTime) {
      clientTime.children[0].innerHTML = dt.toISO();
      clientTime.children[2].innerHTML = dt.offset;
      clientTime.children[4].innerHTML = dt.toMillis();
      clientTime.children[6].innerHTML = dt.zoneName;
    }

    function toISO(timestamp) {
      if (!timestamp) {
        return '';
      }

      return DateTime.fromMillis(timestamp).toISO();
    }
  </script>
</body>
</html>